<table class="dataTable border bordered" data-auto-width="false" v-el:datatable >
    <thead>
    <tr >
        <td style="width: 20px">
        </td>
        <td class="sortable-column sort-asc" style="width: 100px">ID</td>
        <td class="sortable-column">Project name</td>
        <td class="sortable-column" style="width: 100px">ownerby</td>
        <td class="sortable-column" style="width: 20px">Status</td>
        <td style="width: 20px">Switch</td>
        <td class="sortable-column" style="width: 100px">SVN path</td>
    </tr>
    </thead>
    <tbody v-on:contextmenu="openMenu($event)">
    <tr v-for="item in lists" data-item={{$index}}  v-bind:class.sync="{ 'selected': selectIndex==$index}" >
        <td data-id="{{item._id}}">
            <label class="input-control checkbox small-check no-margin">
                <input type="checkbox" v-on:click="onItemClick($event,$index,item)">
                <span class="check"></span>
            </label>
        </td>
        <td ><a href="http://bugzilla.qiyi.domain/show_bug.cgi?id={{item.bugzillaid}}" target="_blank">{{item.bugzillaid}}</a></td>
        <td v-on:click="selectRow($index)">{{item.name}}</td>
        <td><a >{{item.ownerid.name}}</a></td>
        <td class="align-center" >
            <span class="mif-checkmark fg-green" @dblclick="editCell($index,item,'status')" v-text="stateRender(item)"></span>
            <div class="input-control select" v-if="edittingitem == item">
            <select class="" v-model="item.status">
                <option v-for="opt in statuslist" v-bind:value="opt.id">{{opt.name}}</option>
            </select>
            </div>
        </td>
        <td>
            <label class="switch-original">
                <input type="checkbox" checked>
                <span class="check"></span>
            </label>
        </td>
        <td ><a v-if="item.branchid">{{item.branchid.svnpath}}</a>
            <a v-else href="#" v-on:click.prevent="onNewBranch(item._id)">创建svn</a></td>  
    </tr>
    </tbody>
</table>
<context-menu v-bind:viewMenu.sync="contextshow"></context-menu>


