<div class="grid">
    <div class="row">
        <div class="cell">
            <label>项目名</label>
            <div class="input-control text full-size">
                <input type="text" placeholder="Input you text here..." v-model="pname">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <label>项目号</label>
            <div class="input-control text full-size">
                <input type="text" placeholder="Input you text here..." v-model="bugid">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <label>项目别名</label>
            <div class="input-control text full-size">
                <input type="text" placeholder="Input you text here..." v-model="palias">
            </div>
        </div>
    </div>
</div>